<div class="card">
    <p-toolbar 
        styleClass="bg-blue-gradient shadow-2" 
        [style]="{ 'background-image': 'linear-gradient(to right, #bed1ee, #8baed9)' }">

        <!-- Title -->
        <ng-template pTemplate="start">
            <span style="font-weight: bold; font-size: 1.2em; color: #1a4b8c;">APP DIRECTORES DE LINEA</span>
        </ng-template>
  
        <!-- Botones -->
        <ng-template pTemplate="center">
            <div class="tabs-container">
                <a 
                    *ngFor="let tab of tabs; trackBy: trackByRoute"
                    class="tab-item"
                    [routerLink]="!tab.action && !tab.isSubMenuTrigger ? tab.route : null"
                    routerLinkActive="active-tab"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="tab.action ? handleAction(tab.action) : (tab.isSubMenuTrigger ? toggleSubMenu() : null)">
                    <div class="icon-container">
                        <i [class]="tab.icon"></i>
                        <span>{{ tab.label }}</span>
                    </div>
                </a>
            </div>
        </ng-template>
    </p-toolbar>


    <div class="main-container">
      <!-- Menú lateral -->
      <!-- <div *ngIf="showSubMenu" class="lateral-buttons">
          <button *ngFor="let item of subMenuItems"
                  [routerLink]="item.route"
                  class="lateral-button"
                  [pTooltip]="item.label">
              <i [class]="item.icon"></i>
          </button>
      </div> -->

      <!-- Contenido principal -->
      <div class="content-container" [class.with-menu]="showSubMenu">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="app-footer">
    <div class="user-info">
      <span class="user-name" style="color: #1a4b8c; font-weight: bold;">{{ userData.Nombre }} {{ userData.Apellido }}</span>
    </div>
  </footer>