<div class="header-container">
  <!-- Título y Ruta -->
  <div class="breadcrumb">
    <span class="breadcrumb-path">Administración</span>
    <span class="breadcrumb-separator">></span>
    <span class="breadcrumb-current">Seguimiento de Plantas</span>
  </div>

    <!-- Encabezado Principal -->
    <div class="header-content">
      <div class="title-section">
        <h1 class="page-title">Seguimiento de Plantas</h1>
        <div class="stats">
          <p-badge value="No Clientes: " severity="info" styleClass="custom-badge"></p-badge>
        </div>
      </div>

      
  
