<div class="surface-section detalle-seguimiento">
  <button class="menu-toggle-button" (click)="toggleMenu()" [ngClass]="{'collapsed': menuCollapsed}">
    <i [class]="menuCollapsed ? 'pi pi-chevron-right' : 'pi pi-chevron-left'"></i>
  </button>

  <div class="main-container">
    <!-- Menú lateral -->
    <div class="lateral-buttons" [ngClass]="{'collapsed': menuCollapsed}">
      <button class="toggle-menu-button" (click)="toggleMenu()">
        <i [class]="menuCollapsed ? 'pi pi-angle-right' : 'pi pi-angle-left'"></i>
      </button>
      <button *ngFor="let item of menuItems"
              (click)="navigateTo(item.route)"
              class="lateral-button"
              [pTooltip]="item.label"
              tooltipPosition="right">
        <img *ngIf="item.icon === 'peso-icon'" src="assets/icon/peso.svg" class="custom-icon">
        <i *ngIf="item.icon !== 'peso-icon'" [class]="item.icon"></i>
      </button>
    </div>
  </div>


  <div class="content-container" [ngClass]="{'menu-expanded': !menuCollapsed}">
    <router-outlet></router-outlet>
    <div class="seguimiento-info" *ngIf="seguimientoSeleccionado">
      <div class="info-container">
        <div class="info-item">
          <span class="info-label">Nombre:</span>
          <span class="info-value">{{seguimientoSeleccionado.codigo}} - {{seguimientoSeleccionado.nombre}}</span>
        </div>
        <div class="info-item">
          <span class="info-label">Plantas:</span>
          <span class="info-value">
            <span *ngFor="let planta of seguimientoSeleccionado.plantasAsociadas; let last = last">
              {{planta.nombrePlanta}}{{!last ? ', ' : ''}}
            </span>
          </span>
        </div>
        <div class="info-item">
          <span class="info-label">Fecha:</span>
          <span class="info-value">{{seguimientoSeleccionado.fechaInicio | date:'dd/MM/yyyy'}} - {{seguimientoSeleccionado.fechaFin | date:'dd/MM/yyyy'}}</span>
        </div>
        <div class="info-item">
          <span class="info-label">Estado:</span>
          <span class="info-value">{{seguimientoSeleccionado.estadoSeguimientoPlanta}}</span>
        </div>
        <div class="info-item">
          <span class="info-label">Lineas:</span>
          <span class="info-value">
            <span *ngFor="let linea of seguimientoSeleccionado.lineasAsociadas; let last = last">
              {{linea.nombreLinea}}{{!last ? ', ' : ''}}
            </span>
          </span>
        </div>
        <div class="info-item">
          <span class="info-label">Observaciones:</span>
          <span class="info-value">{{seguimientoSeleccionado.observaciones}}</span>
        </div>
      </div>
    </div>
                <!-- Tabla de Clientes -->
                <div class="table-container" style="margin-top: 30px;">
                  <p-table 
                    [value]="listaVisitaClientes" 
                    [rows]="10"
                    [scrollable]="true"
                    scrollHeight="400px"
                    [scrollDirection]="'both'"
                    styleClass="p-datatable-sm p-datatable-striped">
                    <!-- Header de la tabla -->
                    <ng-template pTemplate="header">
                      <tr>
                        <th colspan="12" class="table-header">
                          <ion-icon name="people"></ion-icon>
                          LISTADO DE VISITAS DE CLIENTES
                        </th>
                      </tr>
                      <tr>
                        <th pSortableColumn="fechaRegistro">
                          F Registro
                        </th>
                        <th pSortableColumn="fechaRegistro">
                          F Visita
                        </th>
                        <th pSortableColumn="ClienteText">
                          Cliente
                          <p-sortIcon field="ClienteText"></p-sortIcon>
                          <p-columnFilter type="text" field="ClienteText" display="menu"></p-columnFilter>
                        </th>
                        <th pSortableColumn="LineaText">
                          Linea
                        </th>
                        <th pSortableColumn="toneladas">
                          Toneladas
                        </th>
                        <th>
                          Actividad
                        </th>
                        <th>
                          Comp Gte Zona
                        </th>
                        <th>
                          Comp Dir
                        </th>
                        <th>
                          Informacion
                        </th>
                        <th pSortableColumn="frecuenciaText">
                          Frecuencia
                        </th>
                        <th pSortableColumn="fechaCompromiso">
                          Compromiso
                        </th>
                      </tr>
                    </ng-template>
                
                    <!-- Cuerpo de la tabla -->
                    <ng-template pTemplate="body" let-segCliente>
                      <tr>
                        <td>{{segCliente.fechaRegistro | date:'dd/MM/yyyy'}}</td>
                        <td>{{segCliente.fechaRegistro | date:'dd/MM/yyyy'}}</td>
                        <td>{{segCliente.nombreCliente}}</td>
                        <td>
                          <span *ngFor="let linea of segCliente.lineasCliente; let last = last">
                              {{linea}}{{!last ? ', ' : ''}}
                          </span>
                      </td>
                        <td>{{segCliente.toneladas}}</td>
                        <td>{{segCliente.actividadRealizada}}</td>
                        <td>{{segCliente.compromisoGerenteZona}}</td>
                        <td>{{segCliente.compromisoDirector}}</td>
                        <td>{{segCliente.calidadInformacion}}</td>
                        <td>{{segCliente.frecuenciaText}}</td>
                        <td>{{segCliente.fechaCompromiso | date:'dd/MM/yyyy'}}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>

              <!-- Tabla de Oportunidades -->
              <div class="table-container" style="margin-top: 30px;">
                <p-table 
                  [value]="listaOportunidades" 
                  [rows]="10"
                  styleClass="p-datatable-sm p-datatable-striped">
              
                  <!-- Header de la tabla -->
                  <ng-template pTemplate="header">
                    <tr>
                      <th colspan="10" class="table-header">
                        <ion-icon name="people"></ion-icon>
                        LISTA DE OPORTUNIDADES COMERCIALES
                      </th>
                    </tr>
                    <tr>
                      <th pSortableColumn="fechaRegistro">
                        Fecha
                      </th>
                      <th pSortableColumn="ClienteText">
                        Planta
                        <p-sortIcon field="ClienteText"></p-sortIcon>
                        <p-columnFilter type="text" field="ClienteText" display="menu"></p-columnFilter>
                      </th>
                      <th pSortableColumn="LineaText">
                        Canal
                      </th>
                      <th pSortableColumn="fechaCompromiso">
                        Ubicacion
                      </th>
                      <th pSortableColumn="frecuenciaText">
                        Cliente
                        <p-sortIcon field="ClienteText"></p-sortIcon>
                        <p-columnFilter type="text" field="ClienteText" display="menu"></p-columnFilter>
                      </th>
                      <th >
                        Contacto
                      </th>
                      <th >
                        Toneladas
                      </th>
                      <th >
                        Gerente de Zona
                      </th>
                      <th>
                        Compromiso
                      </th>
                    </tr>
                  </ng-template>
              
                  <!-- Cuerpo de la tabla -->
                  <ng-template pTemplate="body" let-oportunidad>
                    <tr>
                      <td>{{(oportunidad.fecha) | date:'dd/MM/yyyy'}}</td>
                      <td>{{oportunidad.nombrePlanta}}</td>
                      <td></td>
                      <td></td>
                      <td>{{oportunidad.nombreCliente}}</td>
                      <td>{{oportunidad.contacto}}</td>
                      <td>{{oportunidad.tonelada}}</td>
                      <td>{{oportunidad.nombreGerenteZona}}</td>
                      <td>{{oportunidad.compromisoGerenteZona}}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>

<div class="table-container" style="margin-top: 30px;">
  <p-table 
    [value]="listaEvaluaciones"  
    [rows]="10"
    styleClass="p-datatable-sm p-datatable-striped"
    [sortMode]="'multiple'">
    <!-- Header de la tabla -->
    <ng-template pTemplate="header">
      <tr>
        <th colspan="15" class="table-header">
          <ion-icon name="people-outline" class="header-icon"></ion-icon>
          LISTADO DE EVALUACIONES
        </th>
      </tr>
      <tr>
        <th pSortableColumn="fechaRegistro">
          Fecha
        </th>
        <th pSortableColumn="gerenteZonaNombre">
          Gerente Zona
          <p-sortIcon field="gerenteZonaNombre"></p-sortIcon>
          <p-columnFilter type="text" field="gerenteZonaNombre" display="menu"></p-columnFilter>
        </th>
        <th>
          Zona
        </th>
        <th>
          <span pTooltip="Comercial Pto / Prospectación" tooltipPosition="top">1</span>
        </th>
        <th>
          <span pTooltip="Act Mercadeo / Promoción" tooltipPosition="top">2</span>
        </th>
        <th>
          <span pTooltip="Conocimiento Merc / Comp" tooltipPosition="top">3</span>
        </th>
        <th>
          <span pTooltip="Servicio Técnico" tooltipPosition="top">4</span>
        </th>
        <th>
          <span pTooltip="Uso Herramientas Italcol" tooltipPosition="top">5</span>
        </th>
        <th>
          <span pTooltip="Nivel Formación" tooltipPosition="top">6</span>
        </th>
        <th>
          <span pTooltip="Nivel Relacionamiento Cliente" tooltipPosition="top">7</span>
        </th>
        <th>
          <span pTooltip="Actitud General" tooltipPosition="top">8</span>
        </th>
        <th>
          Nota
        </th>
        <th pSortableColumn="observaciones" style="width: 200px;">
          Observaciones
        </th>
      </tr>
    </ng-template>

    <!-- Cuerpo de la tabla -->
    <ng-template pTemplate="body" let-evaluacion>
      <tr>
        <td>{{evaluacion.fechaRegistro | date:'dd/MM/yyyy'}}</td>
        <td>{{evaluacion.gerenteZonaNombre}}</td>
        <td>{{evaluacion.nombreZona}}</td>
        <td>{{getAbreviacion(evaluacion.respuestas?.[0]?.respuestaListaNombre)}}</td>
        <td>{{getAbreviacion(evaluacion.respuestas?.[1]?.respuestaListaNombre)}}</td>
        <td>{{getAbreviacion(evaluacion.respuestas?.[2]?.respuestaListaNombre)}}</td>
        <td>{{getAbreviacion(evaluacion.respuestas?.[3]?.respuestaListaNombre)}}</td>
        <td>{{getAbreviacion(evaluacion.respuestas?.[4]?.respuestaListaNombre)}}</td>
        <td>{{getAbreviacion(evaluacion.respuestas?.[5]?.respuestaListaNombre)}}</td>
        <td>{{getAbreviacion(evaluacion.respuestas?.[6]?.respuestaListaNombre)}}</td>
        <td>{{getAbreviacion(evaluacion.respuestas?.[7]?.respuestaListaNombre)}}</td>
        <td>{{getEvaluacionPercentage(evaluacion.respuestas)}}%</td>
        <td>{{evaluacion.observaciones | slice:0:50}}{{evaluacion.observaciones.length > 50 ? '...' : ''}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="table-container" style="margin-top: 30px;">
  <p-table 
    [value]="listaRevisiones" 
    styleClass="p-datatable-sm p-datatable-striped"
    [sortMode]="'multiple'">

    <!-- Header de la tabla -->
    <ng-template pTemplate="header">
      <tr>
        <th colspan="8" class="table-header">
          <ion-icon name="business"></ion-icon>
          LISTADO DE REVISIONES PLANTA - PRODUCTO
        </th>
      </tr>
      <tr>
        <th style="width: 50px;">
          Fecha
        </th>
        <th>
          Planta
        </th>
        <th pSortableColumn="lineNombre">
          Línea
          <p-sortIcon field="lineNombre"></p-sortIcon>
          <p-columnFilter type="text" field="lineNombre" display="menu"></p-columnFilter>
        </th>
        <th>
          Producto
        </th>
        <th >
          Área
        </th>
        <th>
          Observación
        </th>
        <th>
          Compromiso
        </th>
      </tr>
    </ng-template>

    <!-- Cuerpo de la tabla -->
    <ng-template pTemplate="body" let-revision>
      <tr>
        <td>{{revision.fechaRegistro | date:'dd/MM/yyyy'}}</td>
        <td>{{revision.nombrePlanta}}</td>
        <td>{{revision.lineNombre}}</td>
        <td>{{revision.producto}}</td>
        <td>{{revision.area}}</td>
        <td>{{revision.observacion | slice:0:50}}{{revision.observacion.length > 50 ? '...' : ''}}</td>
        <td>{{revision.compromiso | slice:0:50}}{{revision.compromiso.length > 50 ? '...' : ''}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

  </div>

</div>